@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

body {
  background-color: #005fa3;
}

.header {
  font-family: Cambria, serif;
  font-weight: bold;
  background-color: #103953;
  display: grid;
  grid-template-columns: 20% auto 5%;
  align-items: center;
  max-height: 96px;
}

.header img {
  height: 60px;
  padding: 8px;
}

/*Menu*/
.menu {
  color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.menu ul {
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  position: relative;
}

.menu ul li a {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none;
}

.menu ul li:hover>a {
  color: #dde9eb;
  text-decoration: underline;
}

.menu ul li:hover ul {
  display: block;
  background: #333;
}

.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* background-color: #fff; */
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.menu ul ul li {
  display: block;
  width: 200px;
}

.menu ul ul li a {
  color: #ffffff;
  font-weight: normal;
  padding: 10px 20px;
}

.menu ul ul li a:hover {
  background-color: #f9f9f9;
}

/*Search Bar*/
.search {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 30px;
}

.search .searchinput {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 10px;
  height: 20px;
  width: 20px;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
}

.btn {
  background-color: #bfa;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: -5px;
  left: 0;
  height: 40px;
  width: 40px;
  transition: transform 0.3s ease;
}

.btn:focus,
.searchinput:focus {
  outline: none;
}

.search.active .searchinput {
  width: 200px;
  left: -200px;
}

/* Sub Header */
/*contact form */
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 80px;
  resize: none;
}

.submit-button{
  text-align: center;
}
.contact-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

.message {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 20px;
  display: none;
}

.message p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* rotator-slider */
.rotator-slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 30px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

/* First section: Cards Section */
.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 40%;
  margin-bottom: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

/* Second section:image text section*/
.image-text-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}

.image-text-section img {
  max-width: 50%;
  height: auto;
  margin-right: 2rem;
}

.image-text-section .text {
  max-width: 45%;
}

.image-text-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.image-text-section p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.cta-button {
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  border-radius: 4px;
  border: none;
  background-color: #0077cc;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #005fa3;
}


/*Third section: Thumbnail Gallery */
.thumbnail-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.thumbnail-gallery .gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thumbnail-gallery img {
  width: 300px;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.thumbnail-gallery img:hover {
  transform: scale(1.1);
}

/* Lightbox Modal styling */
.lightbox-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  overflow: auto;
}

.lightbox-modal img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 10%;
}

.lightbox-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.lightbox-controls button {
  opacity: 0.2;
  background-color: white;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

/* Content Block */
.content-block {
  font-family: Arial, sans-serif;
}

.content {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: block;
  width: 100%;
}

.toggle {
  font-size: 24px;
  font-weight: bold;
  margin: 1px 0;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 10px 10px 10px 30px;
  position: relative;

}

.toggle::before {
  content: "+";
  position: absolute;
  left: 10px;
}

.toggle.active::before {
  content: "-";
}

.toggle-content {
  display: none;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.toggle-content p {
  margin: 10px 0;
}

.toggle-content ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.toggle-content li {
  margin-bottom: 5px;
}

.toggle-content a {
  color: #008CBA;
  cursor: pointer;

}

.toggle.active+.toggle-content {
  display: block;
  height: auto;
}

/* Footer */
footer {
  background-color: #f1f1f1;
  padding: 20px 0;
  text-align: center;
}

.footer-cols {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 0 20px;
}

.col h4 {
  margin-bottom: 10px;
}

.col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.col ul li {
  margin-bottom: 5px;
}

.col ul li a {
  color: #555;
  text-decoration: none;
}

.col:last-child {
  text-align: right;
  margin-right: 30px;
}

.col:last-child img {
  height: 80px;
  width: auto;
}


.footer-tagline {
  margin-top: 10px;
  font-size: 20px;
  color: #555;
}